RCSPstopCutGenTimeThresholdInPricing = 5  # \tau^{\mathrm{soft}}
RCSPhardTimeThresholdInPricing = 20       # \tau^{\mathrm{hard}}
# RCSPuseBidirectionalSearch = 1            # \phi^{\mathrm{bidir}}
RCSPmaxNGneighbourhoodSize = 32           # \eta^{\mathrm{max}}
RCSPmaxNumOfEnumeratedSolutions = 10000000 # \omega^{\mathrm{routes}}
RCSPrankOneCutsMaxNumRows = 0
StrongBranchingPhaseOneCandidatesNumber = 100   # \zeta_1^{\mathrm{num}}
StrongBranchingPhaseOneTreeSizeEstimRatio = 1 # \zeta_1^{\mathrm{estim}}
StrongBranchingPhaseTwoCandidatesNumber = 1   # \zeta_2^{\mathrm{num}}
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.1 # \zeta_2^{\mathrm{estim}}
CutTailingOffThreshold = 0.015            # \delta^{\mathrm{gap}}
#GlobalTimeLimit = 86400
DEFAULTPRINTLEVEL = 0